@import "./global-variables.scss";
@import "./paragraph.scss";

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	background: $light-gray;
	font-size: 100%;

	&.light-mode {
		[data-appearance-mode="dark"] {
			display: none !important;
		}
	}

	&.dark-mode {
		[data-appearance-mode="light"] {
			display: none !important;
		}
	}
}

@media only screen and (min-width: $width-stop--1) {
	html {
		font-size: 115%;
	}
}
@media only screen and (min-width: $width-stop--2) {
	html {
		font-size: 130%;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
	font-family: $ff;
	font-weight: 400;
	font-size: 17px;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	word-break: keep-all;
	color: $black-soft;
	background: #fff;

	.dark-mode & {
		color: #fff;
		background: #222;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

p, li, a, input, textarea {
	font-family: $ff;
	line-height: 1.4;
	font-size: 0.92rem;
}

button {
	font-family: $ff;
	cursor: pointer;
	color: inherit;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;

	&.expanded {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

img {
	pointer-events: none;
}

main {
	padding-top: $moderate-gap--vertical;
	min-height: calc(100vh - #{$gn-height} - #{$gf-height});
	width: calc(100% - #{2 * $moderate-gap});
	max-width: 30rem;
	margin: auto;
	padding-bottom: $moderate-bottom;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="button"],
textarea
{
	cursor: text;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	padding: 0 1rem;
	height: 2.2rem;
	font-family: $ff;
	font-size: 0.85rem;
	border: none;
	border-radius: $moderate-border-radius;
	// background-color: $light-gray;
	background-color: #fff;
	border: 1px solid darken($light-gray, 10%);
	transition: box-shadow .2s ease, background-color .2s ease, border .2s ease;
	box-shadow: 0 0 0 0 rgba(164, 196, 255, 0);

	&::placeholder {
		color: darken($light-gray, 20%);
	}

	&:focus {
		box-shadow: 0 0 0 3px #a4c4ff;
		// background-color: #fcfcff;
		border: 1px solid transparent;
	}
}

textarea {
	padding: 1rem;
	resize: none;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

button.jhm-btn {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	margin-left: -$border-radius-visual-perception;
	margin-right: -$border-radius-visual-perception;
	height: 2.2rem;
	font-family: $ff;
	font-size: 0.85rem;
	border: none;
	border-radius: $moderate-border-radius;
	cursor: default;
	background-color: #3988fd;
	color: #fff;
	transition: color .2s ease, box-shadow .2s ease, background-color .2s ease;

	&.termite {
		background-color: #fff;
		color: inherit;
		box-shadow: 0 0 0 1px darken($light-gray, 3%);

		&:hover {
			background-color: #fff;
		}
	}

	&.full {
		width: calc(100% + #{$border-radius-visual-perception * 2});
	}

	&:hover {
		box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.15), inset 0 0 0 0 rgba(0, 0, 0, 0);
		background-color: #4f95ff;
	}

	&:active {
		// background-color: #357fee;
		box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0), inset 0 0 0 100rem rgba(0, 0, 0, 0.1);
	}

	

	&.crimson {
		background-color: #e62149;
		color: #fff;

		&:hover {
			background-color: #f33258;
		}

		// &:active {
		// 	background-color: #da274a;
		// }
	}
}