{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:vue/recommended",
    "@nuxtjs",
    "prettier"
  ],
  "rules": {
    "vue/html-self-closing": "off",
    "vue/html-indent": "off",
    "vue/singleline-html-element-content-newline": "off",
    "no-unused-vars": "warn"
  }
}
