@use '@/sass/package' as *;

.HomeLayout {
  width: calc(100% - 30px);
  max-width: 800px;
  margin: auto;
  padding-bottom: 100px;
}

.LogoWrapper {
  margin-top: 90px;
}

.Paragraph {
  font-size: 27px;
  line-height: 1.3;
  margin-top: 50px;
  font-weight: 500;

  .JavaScript,
  .TypeScript {
    // font-weight: 600;
  }

  .JavaScript {
    // color: #dca811;
  }

  .TypeScript {
    // color: #6380d8;
  }
}

.Introduce {
  color: $jhm-gray;
  font-weight: 600;
  margin-top: 50px;
  line-height: 1;
}

.Section {
  margin-top: 100px;

  .SectionTitle {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .SectionSubTitle {
    font-size: 23px;
    font-weight: 500;
  }

  .Description {
    font-size: 18px;
    margin-top: 7px;
    line-height: 1.3;
  }

  .Project {
    border-radius: 3px;
    padding: 25px 20px;
    margin-top: 20px;

    border: 1px solid #e0e0e0;
    @include dark-mode {
      border: 1px solid #333;
      background-color: #111;
    }

    display: flex;
    flex-direction: row;

    .Content {
      flex: 1;

      .Technologies {
        margin-top: 10px;

        .Technology {
          display: inline-block;
          padding: 4px 6px;
          font-size: 13px;
          font-weight: 500;
          border-radius: 3px;
          background-color: #f0f0f0;
          margin-right: 6px;
          margin-top: 6px;
        }
      }
    }

    .Social {
      display: flex;

      .IconLink {
        display: inline-block;

        &.NotYet {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      .Icon {
        font-size: 25px;
      }
    }

    @include larger-than(701px) {
      .Social {
        flex-direction: column;
        margin-left: 25px;

        .IconLink {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @include smaller-than(700px) {
      flex-direction: column;

      .Social {
        flex-direction: row;
        margin-top: 25px;

        .IconLink {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
